<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Exemplo 5 Spring MVC</title>
</head>
<body>
	<h1>Exemplo 5 Spring MVC</h1>
	<p>Apelido: <span th:text="${apelido}"></span></p>
	<p>Genero:
		<span th:if="${genero == 1}">Masculino</span>
		<span th:unless="${genero == 1}">Feminino</span>
	</p>
	<p>Data nascimento:
		<span th:if="${dtnasc != null}" th:text="${dtnasc}"></span>
		<span th:unless="${dtnasc != null}">NAO INFORMADA</span>
	</p>
	<p th:if="${dtnasc != null}">Idade: <span th:text="${idade}"></span></p>
</body>
</html>